<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>详情</title>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
    <div class="container">
        <div class="top">
            <ul class="ul-left">
                <li><a href="../index.html">返回首页</a></li>
                <li>收藏网站</li>
            </ul>
            <ul class="ul-right">
                <li>您好，欢迎光临韩都衣舍！</li>
                <li class="denglu"><a href="login.html">登录</a></li>
                <li class="zhuce"><a href="register.html">注册</a></li>
                <li class="denglu"><a href="shopCar.html"> 购物车</a></li>
                <li>在线客服</li>
                <li>帮助中心</li>
                <li class="w-n">
                    <i class="iconfont icon-santiao" style="color: #c80a28; "></i>
                    网站导航
                    <div class="web">
                        <div class="web-nav">
                            <h4>大家都在买Hot</h4>
                            <div>
                                <div>
                                    <p>T恤</p>
                                    <p>牛仔裤</p>
                                    <p>卫衣绒衫</p>
                                </div>
                                <div>
                                    <p>连衣裙</p>
                                    <p>毛衣针织衫</p>
                                    <p>穿休闲套装</p>
                                </div>
                            </div>                           
                        </div>
                        <div class="web-nav">
                            <h4>女装Women</h4>
                            <div>
                                <p>韩风快时尚女装</p>
                                <p>韩风甜美少女装</p>
                                <p>韩风时尚名媛女装</p>
                                <p>韩风大码女装</p>
                            </div>
                            <div>
                                <p>韩风快时尚妈妈装</p>
                                <p>东方复古设计师女装</p>
                                <p>欧美浪漫田园风女装</p>
                                <p>p欧美快时尚女装</p>
                            </div>
                        </div>
                        <div class="web-nav">
                            <h4>男装Men</h4>
                            <div>
                                <p>韩风快时尚男装</p>
                                <p>东方禅意设计师男装</p>
                                <p>欧美街头轻潮男装</p>
                            </div>
                        </div>
                        <div class="web-nav">
                            <h4>童装Children</h4>
                            <div>
                                <p>韩风快时尚童装</p>
                                <p>东方简约设计师童装</p>
                            </div>
                        </div>
                        <div class="web-nav">
                            <h4>帮助中心Help</h4>
                            <div>
                                <p>会员制度</p>
                                <p>购物流程</p>
                                <p>配送方式</p>
                            </div>
                            <div>
                                <p>售后服务</p>
                                <p>关于发票</p>
                                <p>韩都招聘</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="head">
            <div class="head-top">
                <img src="../images/logo.jpg" class="logo" />
                <div class="form">
                    <form action="javascript:void(0)">
                            <input type="text" id="tet" class="tet" value="时髦连衣裙 换季搭配致胜法宝" onfocus="value=' '" onblur="value='时髦连衣裙 换季搭配制胜法宝'">
                        <button id="btn" class="btn">搜索</button>
                    </form>
                    <ul>
                        <li><a href="#">韩风女装</a></li>
                        <li><a href="#">可爱童装</a></li>
                        <li><a href="#">韩风男装</a></li>
                        <li><a href="#">可爱女装</a></li>
                        <li><a href="#">时尚妈妈</a></li>
                        <li><a href="#">文艺女装</a></li>
                    </ul>
                </div>
            </div>
            <ul class="head-left">
                <li>全部商品分类
                    <div class="list">
                        <div class="list-title">
                            <h4>
                                <span class="icon">
                                    <img src="http://img01.handu.com/hdysweb/20150428/tb1.png">
                                    <img src="http://img01.handu.com/hdysweb/20150428/tb01.png" class="img-b">
                                </span><span>全部商品给分类</span><span class="more">></span>
                            </h4>
                            <div class="lists">
                                <span><a href="#">本周新品</a></span>
                                <span><a href="#">按价格</a></span>
                                <span><a href="#">按销量</a></span>
                            </div>
                            <div class="pos">
                                <div>
                                    <ul class="brands">
                                        <li><a href="#"><img src="http://img01.handu.com/hdysweb/20150313/zpp/img/NA.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="http://img01.handu.com/hdysweb/20150313/zpp/img/H-.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="http://img01.handu.com/hdysweb/20150313/zpp/img/FQ.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="http://img01.handu.com/hdysweb/20150313/zpp/img/DKN.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="http://img01.handu.com/hdysweb/20150313/zpp/img/NBS.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="http://img01.handu.com/hdysweb/20150313/zpp/img/SL.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="http://img01.handu.com/hdysweb/20150313/zpp/img/HN-.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="http://img01.handu.com/hdysweb/20150313/zpp/img/ANMA.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="http://img01.handu.com/hdysweb/20150313/zpp/img/yyt-.jpg" alt=""></a></li>            
                                    </ul>
                                    <ul>
                                        <li><a href="#"><img src="http://img01.handu.com/hdysweb/20150313/zpp/img/mn.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="http://img01.handu.com/hdysweb/20150313/zpp/img/pig.jpg" alt=""></a></li>
                                    </ul>
                                </div>                               
                            </div>
                        </div>
                        <div class="list-title">
                            <h4>
                                <span class="icon">
                                    <img src="http://img01.handu.com/hdysweb/20150428/tb2.png">
                                    <img src="http://img01.handu.com/hdysweb/20150428/tb02.png" class="img-b">
                                </span>精选推荐<span class="more">></span>
                            </h4>
                            <div class="lists">
                                <span><a href="#" style="color: #ff0000">连衣裙</a></span>
                                <span><a href="#">潮流爆款</a></span>
                                <span><a href="#">品牌特惠</a></span>
                            </div>
                        </div>
                        <div class="list-title">
                            <h4>
                                <span class="icon">
                                    <img src="http://img01.handu.com/hdysweb/20150428/tb3.png">
                                    <img src="http://img01.handu.com/hdysweb/20150428/tb03.png" class="img-b">
                                </span>潮流女装<span class="more">></span>
                            </h4>
                            <div class="lists">
                                <span><a href="#" style="color: #ff0000">短外套</a></span>
                                <span><a href="#">T恤</a></span>
                                <span><a href="#">牛仔裤</a></span>
                            </div>
                        </div>
                        <div class="list-title">
                            <h4>
                                <span class="icon">
                                    <img src="http://img01.handu.com/hdysweb/20150428/tb5.png">
                                    <img src="http://img01.handu.com/hdysweb/20150428/tb05.png" class="img-b">
                                </span>可爱童装<span class="more">></span>
                            </h4>
                            <div class="lists">
                                <span><a href="#">童装新品</a></span>
                                <span><a href="#">套装</a></span>
                                <span><a href="#">毛衣/针织衫女</a></span>
                            </div>
                        </div>
                        <div class="list-title">
                            <h4>
                                <span class="icon">
                                    <img src="http://img01.handu.com/hdysweb/20150428/tb6.png">
                                    <img src="http://img01.handu.com/hdysweb/20150428/tb06.png" class="img-b">
                                </span>时尚妈妈<span class="more">></span>
                            </h4>
                            <div class="lists">
                                <span><a href="#">T恤</a></span>
                                <span><a href="#">针织衫</a></span>
                                <span><a href="#">衬衫</a></span>
                            </div>
                        </div>
                        <div class="list-title">
                            <h4>
                                <span class="icon">
                                    <img src="http://img01.handu.com/hdysweb/20170110/w.png">
                                    <img src="http://img01.handu.com/hdysweb/20170110/w.png" class="img-b">
                                </span>韩风男装<span class="more">></span></h4>
                            <div class="lists">
                                <span><a href="#">上装</a></span>
                                <span><a href="#">下装</a></span>
                                <span><a href="#">全部商品</a></span>
                            </div>
                        </div>
                        <div class="list-title">
                            <h4>
                                <span class="icon">
                                    <img src="http://img01.handu.com/hdysweb/20161205/tb8.png">
                                    <img src="http://img01.handu.com/hdysweb/20161205/tb8.png" class="img-b">
                                </span>明星同款<span class="more">></span>
                            </h4>
                            <div class="lists">
                                <span><a href="#">全智贤同款</a></span>
                                <span><a href="#">娜扎同款</a></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#">防骗公告</a></li>
                <li><a href="#">团购批发</a></li>
            </ul>
            <ul class="head-right">
                <li><a href="#">韩都资讯<img src="http://img01.handu.com/hdysweb/20150428/sjt.png" style="margin-left: 3px;"></a></li>
                <li><a href="#">招兵买马</a></li>
            </ul>
        </div>
    </div>
    <div class="big">
        <div class="detail">
            <div class="left">
                <div class="smallimg">
                    <img src="http://s.handu.com/images/201804/thumb_img/1524118312752755988.jpg" alt="">
                    <img src="http://s.handu.com/images/201804/thumb_img/1524118313248493224.jpg" alt="">
                    <img src="http://s.handu.com/images/201804/thumb_img/1524118313763198909.jpg" alt="">
                    <img src="http://s.handu.com/images/201804/thumb_img/1524118314224943069.jpg" alt="">
                    <img src="http://s.handu.com/images/201804/thumb_img/1524118314569741956.jpg" alt="">
                    <div class="cover"></div>
                </div>
                <div class="check">
                    <img src="http://s.handu.com/images/201804/thumb_img/1524118312752755988.jpg" alt="">
                    <img src="http://s.handu.com/images/201804/thumb_img/1524118313248493224.jpg" alt="">
                    <img src="http://s.handu.com/images/201804/thumb_img/1524118313763198909.jpg" alt="">
                    <img src="http://s.handu.com/images/201804/thumb_img/1524118314224943069.jpg" alt="">
                    <img src="http://s.handu.com/images/201804/thumb_img/1524118314569741956.jpg" alt="">
                </div>
                <div class="bigimg">
                    <img src="http://s.handu.com/images/201804/thumb_img/1524118314569741956.jpg" alt="">
                    <img src="http://s.handu.com/images/201804/thumb_img/1524118314224943069.jpg" alt="">
                    <img src="http://s.handu.com/images/201804/thumb_img/1524118313763198909.jpg" alt="">
                    <img src="http://s.handu.com/images/201804/thumb_img/1524118313248493224.jpg" alt="">
                    <img src="http://s.handu.com/images/201804/thumb_img/1524118312752755988.jpg" alt="">    
                </div>  
            </div> 
            <div class="right">
                <p class="title">娜娜日记2018夏装新款女装chic上衣白色刺绣短袖T恤女黑色打底衫</p>
                <a href="#">【夏季新风尚】全场通用满199减20/满299减50/满399减80/满599减130！</a>
                <ul class="one">
                    <li><span>商品货号：</span><span>NL8562</span><span>售价：</span><span>￥</span><del>128.00</del></li>
                    <li><span>促销价:</span><span>￥68.00</span></li>
                    <li><span>销量：</span><span>24件</span></li>
                    <li><span>用户评分:</span><span><img src="../images/star.jpg" alt=""></span><span class="num">(共有0条评论)</span></li>
                </ul>
                <ul class="two">
                    <li>尺码：<span>XS</span><span>S</span><span>M</span><span>L</span></li>
                    <li>颜色：<span>白色</span><span>黑色</span></li>
                    <li>数量：<span>-</span><input type="text" id="number" class="number"><span>+</span><span>(库存11件)</span></li>
                </ul>
                <p class="select">你已选择了&nbsp;&nbsp;</p>
                <div class="btn">
                    <div class="buy">立即购买</div>
                    <div class="add">加入购物车</div>
                </div>
                
            </div>          
        </div>
    </div>
    <div class="footer">
        <div class="foot">
            <div class="contact">
                <div class="box">
                    <p><i class="iconfont icon-wenhaosvg" style="margin-right: 3px;"></i>新手指南</p>
                    <ul>
                        <li><a href="#">用户注册</a></li>
                        <li><a href="#">购物流程</a></li>
                        <li><a href="#">网站导航</a></li>
                        <li><a href="#">帮助中心</a></li>
                    </ul>
                </div>
                <div class="box">
                    <p><i class="iconfont icon-zhifu" style="margin-right: 3px;"></i>支付方式</p>
                    <ul>
                        <li><a href="#">用户注册在线支付购物流程</a></li>
                        <li><a href="#">扫码支付</a></li>
                        <li><a href="#">优惠券支付</a></li>
                    </ul>
                </div>
                <div class="box">
                    <p><i class="iconfont icon-huoche" style="margin-right: 3px;"></i>配送方式</p>
                    <ul>
                        <li><a href="#">配送说明</a></li>
                        <li><a href="#">运费说明</a></li>
                        <li><a href="#">验货签收</a></li>
                    </ul>
                </div>
                <div class="box">
                    <p><i class="iconfont icon-kefu" style="margin-right: 3px;"></i>售后服务</p>
                    <ul>
                        <li><a href="#">退换货政策</a></li>
                        <li><a href="#">退换货流程</a></li>
                    </ul>
                </div>
                <div class="box">
                    <p><i class="iconfont icon-kafei" style="margin-right: 3px;"></i>会员中心</p>
                    <ul>
                        <li><a href="#">会员制度</a></li>
                        <li><a href="#">会员积分</a></li>
                    </ul>
                </div>
                <div class="box">
                    <p><i class="iconfont icon-aixin" style="margin-right: 3px;"></i>关于我们</p>
                    <ul>
                        <li><a href="#">品牌故事</a></li>
                        <li><a href="#">媒体报道</a></li>
                        <li><a href="#">诚聘英才</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
                </div>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">品牌故事</a></li>
                    <li><a href="#">诚聘英才</a></li>
                    <li><a href="#">媒体报道</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">网站地图</a></li>
                    <li class="no-right"><a href="#">友情链接</a></li>
                </ul>
            </div>
            <div class="foot-bot">
                <span>
                    <p class="img">
                        <img src="http://img01.handu.com/hdysweb/20140415/copyright.gif" alt="">
                    </p>
                    <p class="wenzi">鲁ICP备14003322号-2 © 2015-2017 handu.com All Rights Reserved. </p> 
                    <a href="#">
                        <img src="http://img01.handu.com/hdysweb/20160323/beiantubiao.png">
                        <p>鲁公网安备 37010202000113号</p>
                    </a>                
                    <p class="wenzi">韩都衣舍电子商务集团股份有限公司，禁止非法复制</p> 
                    <img src="http://icon.cnzz.com/img/pic.gif" alt="" class="gif">
                </span>
                <div class="pic">
                    <img src="http://img01.handu.com/hdysweb/20140415/zxmbutton02_sy.jpg" alt="">
                    <img src="http://img01.handu.com/hdysweb/20140415/zxmbutton05_sy.jpg" alt="">
                    <img src="http://img01.handu.com/hdysweb/20150509/cctv.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <!-- inject:js -->
    <!-- endinject -->
</body>
</html>