<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车</title>
    <!-- inject:css -->
    <!-- endinject -->
    <!-- <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/shopCar.css"> -->
</head>
<body>
    <div class="container">
        <div class="top">
            <ul class="ul-left">
                <li><a href="../index/index.html">返回首页</a></li>
                <li>收藏网站</li>
            </ul>
            <ul class="ul-right">
                <li>您好，欢迎光临韩都衣舍！</li>
                <li class="denglu"><a href="login.html">登录</a></li>
                <li class="zhuce"><a href="register.html">注册</a></li>
                <li>购物车</li>
                <li>在线客服</li>
                <li>帮助中心</li>
                <li class="w-n">
                    <i class="iconfont icon-santiao" style="color: #c80a28; "></i>
                    网站导航
                    <div class="web">
                        <div class="web-nav">
                            <h4>大家都在买Hot</h4>
                            <div>
                                <div>
                                    <p>T恤</p>
                                    <p>牛仔裤</p>
                                    <p>卫衣绒衫</p>
                                </div>
                                <div>
                                    <p>连衣裙</p>
                                    <p>毛衣针织衫</p>
                                    <p>穿休闲套装</p>
                                </div>
                            </div>                           
                        </div>
                        <div class="web-nav">
                            <h4>女装Women</h4>
                            <div>
                                <p>韩风快时尚女装</p>
                                <p>韩风甜美少女装</p>
                                <p>韩风时尚名媛女装</p>
                                <p>韩风大码女装</p>
                            </div>
                            <div>
                                <p>韩风快时尚妈妈装</p>
                                <p>东方复古设计师女装</p>
                                <p>欧美浪漫田园风女装</p>
                                <p>p欧美快时尚女装</p>
                            </div>
                        </div>
                        <div class="web-nav">
                            <h4>男装Men</h4>
                            <div>
                                <p>韩风快时尚男装</p>
                                <p>东方禅意设计师男装</p>
                                <p>欧美街头轻潮男装</p>
                            </div>
                        </div>
                        <div class="web-nav">
                            <h4>童装Children</h4>
                            <div>
                                <p>韩风快时尚童装</p>
                                <p>东方简约设计师童装</p>
                            </div>
                        </div>
                        <div class="web-nav">
                            <h4>帮助中心Help</h4>
                            <div>
                                <p>会员制度</p>
                                <p>购物流程</p>
                                <p>配送方式</p>
                            </div>
                            <div>
                                <p>售后服务</p>
                                <p>关于发票</p>
                                <p>韩都招聘</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="contenter">
        <div class="content">
            <div class="top">
                <img src="../images/logo1.jpg" alt="">
                <p>没空去韩国？就来韩都衣舍！</p>
                <div class="active">查看购物车</div>
                <div class="check">确认订单信息</div>
                <div class="check">成功提交订单</div>
                <div class="check">确认收货</div>
            </div>
            <div class="cent">
                <font style="color: #fe0032;">温馨提示：</font>现在<a href="login.html">&nbsp;登录</a>  ，把心仪的商品保存在"&nbsp;购物车&nbsp;"
            </div>
            <div class="bot">
                <ul>
                    <li></li>
                    <li>商品名称</li>
                    <li>售价</li>
                    <li>数量</li>
                    <li>小计</li>
                    <li>操作</li>
                    <li></li>
                </ul>
                <div class="tip">
                    <img src="../images/car.jpg" alt="">
                    <div>
                        <p>您的购物车没有商品，请挑选心仪的商品吧！</p>
                        <a href="#">去挑选心仪的商品</a>
                    </div>                  
                </div>
            </div>
            <div class="hr"></div>
            <div class="show">
                <div class="show-top">
                    <p>韩都官网为您推荐</p>
                    <div>
                        <p>最近浏览过的商品</p>
                        <p>最近收藏的</p>
                    </div>
                    
                </div>
                <div class="show-pic">
                    <img class="pic1" src="../images/jiantou1.jpg" alt="">
                    <ul class="new-pic">
                        <li>
                            <a href="#"><img src="http://s.handu.com/images/201804/thumb_img/1524207767345441470.jpg" alt="韩都衣舍2018夏装新款女装韩版宽松学生纯色打底短袖T恤DL10127喆" title="韩都衣舍2018夏装新款女装韩版宽松学生纯色打底短袖T恤DL10127喆"></a>
                            <p><span>￥68</span><del>￥158</del></p>
                        </li> 
                        <li>
                            <a href="#"><img src="http://s.handu.com/images/201804/thumb_img/1524104913312789789.jpg" alt="韩都衣舍2018夏装新款女装韩版学生宽松印花上衣短袖T恤KY0145湲" title="韩都衣舍2018夏装新款女装韩版学生宽松印花上衣短袖T恤KY0145湲"></a>
                            <p><span>￥78</span><del>￥178</del></p>
                        </li>
                        <li>
                            <a href="#"><img src="http://s.handu.com/images/201804/thumb_img/1069409_thumb_G_1524806864843.jpg" alt="韩都衣舍2018夏装新款女装韩版格子吊带两件套衬衫女HO8979魭0301" title="韩都衣舍2018夏装新款女装韩版格子吊带两件套衬衫女HO8979魭0301"></a>
                            <p><span>￥98</span><del>￥308</del></p>
                        </li> 
                        <li>
                            <a href="#"><img src="http://s.handu.com/images/201804/thumb_img/1069408_thumb_G_1524806912382.jpg" alt="韩都衣舍2018夏装新款女装韩版网纱无袖两件套连衣裙IG8085僥0301" title="韩都衣舍2018夏装新款女装韩版网纱无袖两件套连衣裙IG8085僥0301"></a>
                            <p><span>￥118</span><del>￥338</del></p>
                        </li>
                        <li>
                            <a href="#"><img src="http://s.handu.com/images/201804/thumb_img/1069390_thumb_G_1524806946723.jpg" alt="韩都衣舍2018夏装新款韩版女装蕾丝两件套连衣裙夏MR7684汩0301" title="韩都衣舍2018夏装新款韩版女装蕾丝两件套连衣裙夏MR7684汩0301"></a>
                            <p><span>￥126</span><del>￥328</del></p>
                        </li> 
                        <li>
                            <a href="#"><img src="http://s.handu.com/images/201804/thumb_img/1524207767345441470.jpg" alt="韩都衣舍2018夏装新款女装韩版宽松学生纯色打底短袖T恤DL10127喆" title="韩都衣舍2018夏装新款女装韩版宽松学生纯色打底短袖T恤DL10127喆"></a>
                            <p><span>￥68</span><del>￥158</del></p>
                        </li>                   
                    </ul>
                    <img class="pic2" src="../images/jiantou2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="foot">
            <div class="contact">
                <div class="box">
                    <p><i class="iconfont icon-wenhaosvg" style="margin-right: 3px;"></i>新手指南</p>
                    <ul>
                        <li><a href="#">用户注册</a></li>
                        <li><a href="#">购物流程</a></li>
                        <li><a href="#">网站导航</a></li>
                        <li><a href="#">帮助中心</a></li>
                    </ul>
                </div>
                <div class="box">
                    <p><i class="iconfont icon-zhifu" style="margin-right: 3px;"></i>支付方式</p>
                    <ul>
                        <li><a href="#">用户注册在线支付购物流程</a></li>
                        <li><a href="#">扫码支付</a></li>
                        <li><a href="#">优惠券支付</a></li>
                    </ul>
                </div>
                <div class="box">
                    <p><i class="iconfont icon-huoche" style="margin-right: 3px;"></i>配送方式</p>
                    <ul>
                        <li><a href="#">配送说明</a></li>
                        <li><a href="#">运费说明</a></li>
                        <li><a href="#">验货签收</a></li>
                    </ul>
                </div>
                <div class="box">
                    <p><i class="iconfont icon-kefu" style="margin-right: 3px;"></i>售后服务</p>
                    <ul>
                        <li><a href="#">退换货政策</a></li>
                        <li><a href="#">退换货流程</a></li>
                    </ul>
                </div>
                <div class="box">
                    <p><i class="iconfont icon-kafei" style="margin-right: 3px;"></i>会员中心</p>
                    <ul>
                        <li><a href="#">会员制度</a></li>
                        <li><a href="#">会员积分</a></li>
                    </ul>
                </div>
                <div class="box">
                    <p><i class="iconfont icon-aixin" style="margin-right: 3px;"></i>关于我们</p>
                    <ul>
                        <li><a href="#">品牌故事</a></li>
                        <li><a href="#">媒体报道</a></li>
                        <li><a href="#">诚聘英才</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
                </div>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">品牌故事</a></li>
                    <li><a href="#">诚聘英才</a></li>
                    <li><a href="#">媒体报道</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">网站地图</a></li>
                    <li class="no-right"><a href="#">友情链接</a></li>
                </ul>
            </div>
            <div class="foot-bot">
                <span>
                    <p class="img">
                        <img src="http://img01.handu.com/hdysweb/20140415/copyright.gif" alt="">
                    </p>
                    <p class="wenzi">鲁ICP备14003322号-2 © 2015-2017 handu.com All Rights Reserved. </p> 
                    <a href="#">
                        <img src="http://img01.handu.com/hdysweb/20160323/beiantubiao.png">
                        <p>鲁公网安备 37010202000113号</p>
                    </a>                
                    <p class="wenzi">韩都衣舍电子商务集团股份有限公司，禁止非法复制</p> 
                    <img src="http://icon.cnzz.com/img/pic.gif" alt="" class="gif">
                </span>
                <div class="pic">
                    <img src="http://img01.handu.com/hdysweb/20140415/zxmbutton02_sy.jpg" alt="">
                    <img src="http://img01.handu.com/hdysweb/20140415/zxmbutton05_sy.jpg" alt="">
                    <img src="http://img01.handu.com/hdysweb/20150509/cctv.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <!-- inject:js -->
    <!-- endinject -->
</body>
</html>